In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [24]:
df = pd.read_csv('./data./train.csv')
test_df = pd.read_csv('./data./test.csv')

In [3]:
df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B

In [4]:
test_df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,TEST_00000,16800000,36 months,8 years,MORTGAGE,132000000,19.64,12,주택 개선,0,394692,146604.0,0.0,0.0
1,TEST_00001,8400000,36 months,5 years,RENT,89971200,15.84,25,부채 통합,0,0,0.0,0.0,0.0
2,TEST_00002,17280000,36 months,6 years,RENT,150000000,8.41,20,신용 카드,0,1786980,281820.0,0.0,0.0
3,TEST_00003,14400000,36 months,5 years,MORTGAGE,66000000,13.72,30,신용 카드,1,669024,281724.0,0.0,0.0
4,TEST_00004,27600000,36 months,5 years,RENT,55200000,30.50,12,신용 카드,0,1250052,614844.0,0.0,0.0

In [5]:
df.describe()

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
count,9.629400e+04,9.629400e+04,96294.000000,96294.000000,96294.000000,9.629400e+04,9.629400e+04,96294.000000,96294.000000
mean,1.830400e+07,9.392672e+07,19.379590,25.304827,0.345681,8.225035e+05,4.282282e+05,54.380584,0.005805
std,1.032908e+07,9.956871e+07,33.569559,12.088566,0.919119,1.027745e+06,4.402111e+05,1414.769218,0.079966
min,1.200000e+06,0.000000e+00,0.000000,4.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.020000e+07,5.760000e+07,12.650000,17.000000,0.000000,3.075720e+05,1.346160e+05,0.000000,0.000000
50%,1.680000e+07,7.800000e+07,18.740000,24.000000,0.000000,5.976960e+05,2.870040e+05,0.000000,0.000000
75%,2.400000e+07,1.128000e+08,25.540000,32.000000,0.000000,1.055076e+06,5.702160e+05,0.000000,0.000000
max,4.200000e+07,1.080000e+10,9999.000000,169.000000,30.000000,4.195594e+07,5.653416e+06,75768.000000,4.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

In [7]:
df['주택소유상태'].value_counts()

주택소유상태
MORTGAGE    47934
RENT        37705
OWN         10654
ANY             1
Name: count, dtype: int64

In [8]:
df['대출기간'].value_counts()

대출기간
 36 months    64479
 60 months    31815
Name: count, dtype: int64

In [9]:
df['근로기간'].value_counts()

근로기간
10+ years    31585
2 years       8450
< 1 year      7774
3 years       7581
1 year        6249
Unknown       5671
5 years       5665
4 years       5588
8 years       4888
6 years       3874
7 years       3814
9 years       3744
10+years       896
<1 year        370
3               89
1 years         56
Name: count, dtype: int64

In [18]:
# 규칙에 따라 문자열 수정
df['근로기간'] = df['근로기간'].str.replace(' years', '')  # years 삭제
df['근로기간'] = df['근로기간'].str.replace('+years', '')
df['근로기간'] = df['근로기간'].str.replace('10+years', '10')
df['근로기간'] = df['근로기간'].str.replace('10+', '10')
df['근로기간'] = df['근로기간'].str.replace(' year', '')   # year 삭제
df['근로기간'] = df['근로기간'].str.replace('< 1', '0.9')
df['근로기간'] = df['근로기간'].str.replace('<1', '0.9')

# 결과 확인
df['근로기간'].value_counts()

근로기간
10         32481
2           8450
0.9         8144
3           7670
1           6305
Unknown     5671
5           5665
4           5588
8           4888
6           3874
7           3814
9           3744
Name: count, dtype: int64

In [10]:
df['대출목적'].value_counts()

대출목적
부채 통합     55150
신용 카드     24500
주택 개선      6160
기타         4725
주요 구매      1803
의료         1039
자동차         797
소규모 사업      787
이사          506
휴가          466
주택          301
재생 에너지       60
Name: count, dtype: int64

In [3]:
# 정규표현식을 사용하여 "months"를 제외하고 숫자만 추출
df['대출기간'] = df['대출기간'].str.extract('(\d+)').astype(int)
df

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,36,10+ years,MORTGAGE,210000000,9.33,33,신용 카드,0,974580,492168.0,0.0,0.0,C
96290,TRAIN_96290,28800000,60,10+ years,MORTGAGE,132000000,5.16,25,주택 개선,0,583728,855084.0,0.0,0.0,E
96291,TRAIN_96291,14400000,36,1 year,MORTGAGE,84000000,11.24,22,신용 카드,0,1489128,241236.0,0.0,0.0,A
96292,TRAIN_96292,15600000,36,5 years,MORTGAGE,66330000,17.30,21,부채 통합,2,1378368,818076.0,0.0,0.0,D
96293,TRAIN_96293,8640000,36,10+ years,RENT,50400000,11.80,14,신용 카드,0,596148,274956.0,0.0,0.0,C

In [5]:
unknown_count = df[df['근로기간'] == 'Unknown'].shape[0]
unknown_count

5671

In [12]:
df['대출등급'].value_counts()

대출등급
B    28817
C    27623
A    16772
D    13354
E     7354
F     1954
G      420
Name: count, dtype: int64

## 고민 
- 주택소유상태(4종류), 대출목적(12종류)을 label encoding해야 할까 아니면 one hot encoding을 해야 할까?
- 대출기간은 두 종류 뿐이니 label encoding이 나을까?
- 근로기간은 다양하고 오탈자도 있다. Unknown의 경우는 무엇을 넣는 것이 가장 합리적일까?

## 시도
- 근로 기간의 경우는 오탈자를 제외하고 label encoding하는게 좋아보임.
- 나머지는 원핫인코딩이 낫지 않을까
- label로 하다가 숫자가 커짐이 의미 있는 것으로 해석될 가능성이 있어 보임. (특히 회귀에서)

In [4]:
from sklearn.preprocessing import OneHotEncoder

oh = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_data = oh.fit_transform(df[['주택소유상태', '대출목적', '대출기간']])
encoded_data

C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [5]:
# 새로운 데이터프레임에 인코딩된 데이터 추가
df_encoded = pd.concat([df, pd.DataFrame(encoded_data, columns=oh.get_feature_names_out(['주택소유상태', '대출목적', '대출기간']))], axis=1)
df_encoded

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,TRAIN_00000,12480000,36,6 years,RENT,72000000,18.90,15,부채 통합,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,TRAIN_00001,14400000,60,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,TRAIN_00002,12000000,36,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,TRAIN_00003,14400000,36,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,TRAIN_00004,18000000,60,Unknown,RENT,71736000,25.39,19,주요 구매,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,36,10+ years,MORTGAGE,210000000,9.33,33,신용 카드,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96290,TRAIN_96290,28800000,60,10+ years,MORTGAGE,132000000,5.16,25,주택 개선,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
96291,TRAIN_96291,14400000,36,1 year,MORTGAGE,84000000,11.24,22,신용 카드,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96292,TRAIN_96292,15600000,36,5 years,MORTGAGE,66330000,17.30,21,부채 통합,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96293,TRAIN_96293,8640000,36,10+ years,RENT,50400000,11.80,14,신용 카드,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
df_encoded.drop(columns=['대출목적', '주택소유상태', '대출기간'], inplace= True)
df_encoded

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,TRAIN_00000,12480000,6 years,72000000,18.90,15,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,TRAIN_00001,14400000,10+ years,130800000,22.33,21,0,373572,234060.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,TRAIN_00002,12000000,5 years,96000000,8.60,14,0,928644,151944.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,TRAIN_00003,14400000,8 years,132000000,15.09,15,0,325824,153108.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,TRAIN_00004,18000000,Unknown,71736000,25.39,19,0,228540,148956.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,10+ years,210000000,9.33,33,0,974580,492168.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96290,TRAIN_96290,28800000,10+ years,132000000,5.16,25,0,583728,855084.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
96291,TRAIN_96291,14400000,1 year,84000000,11.24,22,0,1489128,241236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96292,TRAIN_96292,15600000,5 years,66330000,17.30,21,2,1378368,818076.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96293,TRAIN_96293,8640000,10+ years,50400000,11.80,14,0,596148,274956.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [7]:
# 일단 근로기간도 제외를 하자
df_encoded.drop(columns = ['근로기간'], inplace=True)
df_encoded

,ID,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,TRAIN_00000,12480000,72000000,18.90,15,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,TRAIN_00001,14400000,130800000,22.33,21,0,373572,234060.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,TRAIN_00002,12000000,96000000,8.60,14,0,928644,151944.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,TRAIN_00003,14400000,132000000,15.09,15,0,325824,153108.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,TRAIN_00004,18000000,71736000,25.39,19,0,228540,148956.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,210000000,9.33,33,0,974580,492168.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96290,TRAIN_96290,28800000,132000000,5.16,25,0,583728,855084.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
96291,TRAIN_96291,14400000,84000000,11.24,22,0,1489128,241236.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96292,TRAIN_96292,15600000,66330000,17.30,21,2,1378368,818076.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96293,TRAIN_96293,8640000,50400000,11.80,14,0,596148,274956.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# 대출등급을 숫자로 매핑하는 사전(dictionary) 생성
grade_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}

# 대출등급 컬럼 변환
df_encoded['대출등급'] = df_encoded['대출등급'].map(grade_mapping)

In [9]:
train = df_encoded.drop(['ID','대출등급'], axis=1)
target = df_encoded['대출등급']

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train, target, test_size=0.3, random_state=42)

In [11]:
from sklearn.metrics import f1_score
def evaluate_f1(y_test, y_predict):
    F1 = f1_score(y_test, y_predict, average='weighted')
    print(f'F1: {F1:.3F}')

In [12]:
from sklearn.ensemble import RandomForestClassifier
rfr = RandomForestClassifier()

In [13]:
rfr.fit(x_train, y_train)

RandomForestClassifier()

In [14]:
y_predict = rfr.predict(x_test)
evaluate_f1(y_test, y_predict)

F1: 0.754

In [15]:
test_df

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,TEST_00000,16800000,36 months,8 years,MORTGAGE,132000000,19.64,12,주택 개선,0,394692,146604.0,0.0,0.0
1,TEST_00001,8400000,36 months,5 years,RENT,89971200,15.84,25,부채 통합,0,0,0.0,0.0,0.0
2,TEST_00002,17280000,36 months,6 years,RENT,150000000,8.41,20,신용 카드,0,1786980,281820.0,0.0,0.0
3,TEST_00003,14400000,36 months,5 years,MORTGAGE,66000000,13.72,30,신용 카드,1,669024,281724.0,0.0,0.0
4,TEST_00004,27600000,36 months,5 years,RENT,55200000,30.50,12,신용 카드,0,1250052,614844.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64192,TEST_64192,30000000,36 months,3 years,MORTGAGE,78000000,22.08,27,부채 통합,2,1307532,763380.0,0.0,0.0
64193,TEST_64193,30000000,60 months,10+ years,MORTGAGE,109200000,12.06,26,부채 통합,0,960612,1245252.0,0.0,0.0
64194,TEST_64194,6120000,36 months,10+ years,RENT,39600000,28.80,33,부채 통합,0,131520,80880.0,0.0,0.0
64195,TEST_64195,11520000,36 months,10+ years,MORTGAGE,66000000,25.44,41,부채 통합,1,1339536,601872.0,0.0,0.0
64196,TEST_64196,6000000,36 months,9 years,RENT,180000000,9.07,10,부채 통합,0,308880,48960.0,0.0,0.0

In [16]:
# test에 해보기
# 정규표현식을 사용하여 "months"를 제외하고 숫자만 추출
# test_df['대출기간'] = test_df['대출기간'].str.extract('(\d+)').astype(int)
encoded_data = oh.transform(test_df[['주택소유상태', '대출목적', '대출기간']])
# 새로운 데이터프레임에 인코딩된 데이터 추가
tdf_encoded = pd.concat([test_df, pd.DataFrame(encoded_data, columns=oh.get_feature_names_out(['주택소유상태', '대출목적', '대출기간']))], axis=1)
tdf_encoded.drop(columns=['대출목적', '주택소유상태', '대출기간', 'ID', '근로기간'], inplace= True)

In [18]:
tdf_encoded

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,주택소유상태_ANY,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,16800000,132000000,19.64,12,0,394692,146604.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,8400000,89971200,15.84,25,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17280000,150000000,8.41,20,0,1786980,281820.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,14400000,66000000,13.72,30,1,669024,281724.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27600000,55200000,30.50,12,0,1250052,614844.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64192,30000000,78000000,22.08,27,2,1307532,763380.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64193,30000000,109200000,12.06,26,0,960612,1245252.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64194,6120000,39600000,28.80,33,0,131520,80880.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64195,11520000,66000000,25.44,41,1,1339536,601872.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64196,6000000,180000000,9.07,10,0,308880,48960.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
test_1 = rfr.predict(tdf_encoded)

In [19]:
test_1

array([2, 3, 1, ..., 3, 3, 1], dtype=int64)

In [21]:
# 숫자를 알파벳 등급으로 변환하는 함수
def map_to_grade(number):
    reverse_grade_mapping = {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G'}
    return reverse_grade_mapping[number]

# 숫자로 예측된 등급을 알파벳 등급으로 변환
predicted_grades = [map_to_grade(prediction) for prediction in test_1]

# 예측된 등급과 ID를 포함한 DataFrame 생성
result_df = pd.DataFrame({'ID': test_df['ID'], '대출등급': predicted_grades})

# CSV 파일로 저장
result_df.to_csv('sub_1.csv', index=False)

## Unknown 전처리 하기

In [4]:
# 규칙에 따라 문자열 수정
df['근로기간'] = df['근로기간'].str.replace(' years', '')  # years 삭제
df['근로기간'] = df['근로기간'].str.replace('+years', '')
df['근로기간'] = df['근로기간'].str.replace('10+years', '10')
df['근로기간'] = df['근로기간'].str.replace('10+', '10')
df['근로기간'] = df['근로기간'].str.replace(' year', '')   # year 삭제
df['근로기간'] = df['근로기간'].str.replace('< 1', '0.9')
df['근로기간'] = df['근로기간'].str.replace('<1', '0.9')

# 결과 확인
df['근로기간'].value_counts()

근로기간
10         32481
2           8450
0.9         8144
3           7670
1           6305
Unknown     5671
5           5665
4           5588
8           4888
6           3874
7           3814
9           3744
Name: count, dtype: int64

In [5]:
oh = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_data = oh.fit_transform(df[['주택소유상태', '대출목적', '대출기간']])
# 새로운 데이터프레임에 인코딩된 데이터 추가
df_encoded = pd.concat([df, pd.DataFrame(encoded_data, columns=oh.get_feature_names_out(['주택소유상태', '대출목적', '대출기간']))], axis=1)
df_encoded.drop(columns=['대출목적', '주택소유상태', '대출기간'], inplace= True)
df_encoded

C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,TRAIN_00000,12480000,6,72000000,18.90,15,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,TRAIN_00001,14400000,10,130800000,22.33,21,0,373572,234060.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,TRAIN_00002,12000000,5,96000000,8.60,14,0,928644,151944.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,TRAIN_00003,14400000,8,132000000,15.09,15,0,325824,153108.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,TRAIN_00004,18000000,Unknown,71736000,25.39,19,0,228540,148956.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,10,210000000,9.33,33,0,974580,492168.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96290,TRAIN_96290,28800000,10,132000000,5.16,25,0,583728,855084.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
96291,TRAIN_96291,14400000,1,84000000,11.24,22,0,1489128,241236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96292,TRAIN_96292,15600000,5,66330000,17.30,21,2,1378368,818076.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96293,TRAIN_96293,8640000,10,50400000,11.80,14,0,596148,274956.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
# 대출등급 label encoding해보기
from sklearn.preprocessing import LabelEncoder
# LabelEncoder 객체 생성
le = LabelEncoder()

# '대출등급' 컬럼을 label encoding
df_encoded['대출등급_encoded'] = le.fit_transform(df_encoded['대출등급'])

# '대출등급' 컬럼 삭제
df_encoded = df_encoded.drop('대출등급', axis=1)
df_encoded

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60,대출등급_encoded
0,TRAIN_00000,12480000,6,72000000,18.90,15,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2
1,TRAIN_00001,14400000,10,130800000,22.33,21,0,373572,234060.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1
2,TRAIN_00002,12000000,5,96000000,8.60,14,0,928644,151944.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
3,TRAIN_00003,14400000,8,132000000,15.09,15,0,325824,153108.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2
4,TRAIN_00004,18000000,Unknown,71736000,25.39,19,0,228540,148956.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,10,210000000,9.33,33,0,974580,492168.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2
96290,TRAIN_96290,28800000,10,132000000,5.16,25,0,583728,855084.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4
96291,TRAIN_96291,14400000,1,84000000,11.24,22,0,1489128,241236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
96292,TRAIN_96292,15600000,5,66330000,17.30,21,2,1378368,818076.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3
96293,TRAIN_96293,8640000,10,50400000,11.80,14,0,596148,274956.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
# Unknown 항목을 예측하기 위해 데이터프레임을 훈련 데이터와 테스트 데이터로 나눔
train_data = df_encoded[df_encoded['근로기간'] != 'Unknown']
test_data = df_encoded[df_encoded['근로기간'] == 'Unknown']

# 훈련 데이터에서 근로기간 컬럼을 제외한 나머지 컬럼들을 X로, 근로기간을 y로 설정
X_train = train_data.drop(columns=['ID', '근로기간'], axis=1)
y_train = train_data['근로기간'].astype(float)

# Random Forest 모델 훈련
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)

# 테스트 데이터에서 근로기간을 예측
X_test = test_data.drop(columns=['ID','근로기간'], axis=1)
predicted_values = rfr.predict(X_test)
# 예측값을 소수 첫째자리에서 반올림하여 정수로 변환
predicted_values = predicted_values.round(0).astype(int)

# 예측값을 데이터프레임에 채워 넣음
df_encoded.loc[df['근로기간'] == 'Unknown', '근로기간'] = predicted_values

df_encoded

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60,대출등급_encoded
0,TRAIN_00000,12480000,6,72000000,18.90,15,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2
1,TRAIN_00001,14400000,10,130800000,22.33,21,0,373572,234060.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1
2,TRAIN_00002,12000000,5,96000000,8.60,14,0,928644,151944.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
3,TRAIN_00003,14400000,8,132000000,15.09,15,0,325824,153108.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2
4,TRAIN_00004,18000000,6,71736000,25.39,19,0,228540,148956.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,10,210000000,9.33,33,0,974580,492168.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2
96290,TRAIN_96290,28800000,10,132000000,5.16,25,0,583728,855084.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4
96291,TRAIN_96291,14400000,1,84000000,11.24,22,0,1489128,241236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
96292,TRAIN_96292,15600000,5,66330000,17.30,21,2,1378368,818076.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3
96293,TRAIN_96293,8640000,10,50400000,11.80,14,0,596148,274956.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2

In [8]:
# 이제 다시 돌려보기
df_encoded = df_encoded.drop('대출등급_encoded', axis=1)
df_encoded = pd.concat([df_encoded, df['대출등급']], axis=1)
df_encoded

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60,대출등급
0,TRAIN_00000,12480000,6,72000000,18.90,15,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C
1,TRAIN_00001,14400000,10,130800000,22.33,21,0,373572,234060.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,B
2,TRAIN_00002,12000000,5,96000000,8.60,14,0,928644,151944.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,A
3,TRAIN_00003,14400000,8,132000000,15.09,15,0,325824,153108.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C
4,TRAIN_00004,18000000,6,71736000,25.39,19,0,228540,148956.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,10,210000000,9.33,33,0,974580,492168.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C
96290,TRAIN_96290,28800000,10,132000000,5.16,25,0,583728,855084.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,E
96291,TRAIN_96291,14400000,1,84000000,11.24,22,0,1489128,241236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,A
96292,TRAIN_96292,15600000,5,66330000,17.30,21,2,1378368,818076.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,D
96293,TRAIN_96293,8640000,10,50400000,11.80,14,0,596148,274956.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C

In [9]:
# '근로기간' 컬럼을 float로 변환
df_encoded['근로기간'] = df_encoded['근로기간'].astype(float)
df_encoded

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60,대출등급
0,TRAIN_00000,12480000,6.0,72000000,18.90,15,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C
1,TRAIN_00001,14400000,10.0,130800000,22.33,21,0,373572,234060.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,B
2,TRAIN_00002,12000000,5.0,96000000,8.60,14,0,928644,151944.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,A
3,TRAIN_00003,14400000,8.0,132000000,15.09,15,0,325824,153108.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C
4,TRAIN_00004,18000000,6.0,71736000,25.39,19,0,228540,148956.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,10.0,210000000,9.33,33,0,974580,492168.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C
96290,TRAIN_96290,28800000,10.0,132000000,5.16,25,0,583728,855084.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,E
96291,TRAIN_96291,14400000,1.0,84000000,11.24,22,0,1489128,241236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,A
96292,TRAIN_96292,15600000,5.0,66330000,17.30,21,2,1378368,818076.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,D
96293,TRAIN_96293,8640000,10.0,50400000,11.80,14,0,596148,274956.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,C

In [10]:
# 왜 에러가...?
# 대출등급을 숫자로 매핑하는 사전(dictionary) 생성
grade_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}

# 대출등급 컬럼 변환
df_encoded['대출등급'] = df_encoded['대출등급'].map(grade_mapping)

train = df_encoded.drop(['ID','대출등급'], axis=1)
target = df_encoded['대출등급']

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train, target, test_size=0.3, random_state=42)

In [12]:
from sklearn.metrics import f1_score
def evaluate_f1(y_test, y_predict):
    F1 = f1_score(y_test, y_predict, average='weighted')
    print(f'F1: {F1:.3F}')

In [12]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
y_predict = rfc.predict(x_test)
evaluate_f1(y_test, y_predict)

F1: 0.739

In [13]:
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier()
lgbm.fit(x_train, y_train)
y_predict = lgbm.predict(x_test)
evaluate_f1(y_test, y_predict)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001994 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1468
[LightGBM] [Info] Number of data points in the train set: 67405, number of used features: 27
[LightGBM] [Info] Start training from score -1.738476
[LightGBM] [Info] Start training from score -1.206969
[LightGBM] [Info] Start training from score -1.251184
[LightGBM] [Info] Start training from score -1.981565
[LightGBM] [Info] Start training from score -2.565142
[LightGBM] [Info] Start training from score -3.918796
[LightGBM] [Info] Start training from score -5.445151
F1: 0.840

In [14]:
# test에 적용하기
# 규칙에 따라 문자열 수정
test_df['근로기간'] = test_df['근로기간'].str.replace(' years', '')  # years 삭제
test_df['근로기간'] = test_df['근로기간'].str.replace('+years', '')
test_df['근로기간'] = test_df['근로기간'].str.replace('10+years', '10')
test_df['근로기간'] = test_df['근로기간'].str.replace('10+', '10')
test_df['근로기간'] = test_df['근로기간'].str.replace(' year', '')   # year 삭제
test_df['근로기간'] = test_df['근로기간'].str.replace('< 1', '0.9')
test_df['근로기간'] = test_df['근로기간'].str.replace('<1', '0.9')

# 결과 확인
test_df['근로기간'].value_counts()

근로기간
10         21553
2           5609
0.9         5402
3           5085
1           4274
5           3927
Unknown     3862
4           3662
8           3284
9           2545
7           2515
6           2479
Name: count, dtype: int64

In [15]:
encoded_data = oh.transform(test_df[['주택소유상태', '대출목적', '대출기간']])
# 새로운 데이터프레임에 인코딩된 데이터 추가
tdf_encoded = pd.concat([test_df, pd.DataFrame(encoded_data, columns=oh.get_feature_names_out(['주택소유상태', '대출목적', '대출기간']))], axis=1)
tdf_encoded.drop(columns=['대출목적', '주택소유상태', '대출기간'], inplace= True)
tdf_encoded

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,TEST_00000,16800000,8,132000000,19.64,12,0,394692,146604.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,TEST_00001,8400000,5,89971200,15.84,25,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TEST_00002,17280000,6,150000000,8.41,20,0,1786980,281820.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TEST_00003,14400000,5,66000000,13.72,30,1,669024,281724.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TEST_00004,27600000,5,55200000,30.50,12,0,1250052,614844.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64192,TEST_64192,30000000,3,78000000,22.08,27,2,1307532,763380.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64193,TEST_64193,30000000,10,109200000,12.06,26,0,960612,1245252.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64194,TEST_64194,6120000,10,39600000,28.80,33,0,131520,80880.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64195,TEST_64195,11520000,10,66000000,25.44,41,1,1339536,601872.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64196,TEST_64196,6000000,9,180000000,9.07,10,0,308880,48960.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Unknown 항목을 예측하기 위해 데이터프레임을 훈련 데이터와 테스트 데이터로 나눔
train_data = tdf_encoded[tdf_encoded['근로기간'] != 'Unknown']
test_data = tdf_encoded[tdf_encoded['근로기간'] == 'Unknown']

# 훈련 데이터에서 근로기간 컬럼을 제외한 나머지 컬럼들을 X로, 근로기간을 y로 설정
X_train = train_data.drop(columns=['ID', '근로기간'], axis=1)
y_train = train_data['근로기간'].astype(float)

# Random Forest 모델 훈련
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)

# 테스트 데이터에서 근로기간을 예측
X_test = test_data.drop(columns=['ID','근로기간'], axis=1)
predicted_values = rfr.predict(X_test)
# 예측값을 소수 첫째자리에서 반올림하여 정수로 변환
predicted_values = predicted_values.round(0).astype(int)

# 예측값을 데이터프레임에 채워 넣음
tdf_encoded.loc[tdf_encoded['근로기간'] == 'Unknown', '근로기간'] = predicted_values

tdf_encoded['근로기간'] = tdf_encoded['근로기간'].astype(float)

tdf_encoded

,ID,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,TEST_00000,16800000,8.0,132000000,19.64,12,0,394692,146604.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,TEST_00001,8400000,5.0,89971200,15.84,25,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TEST_00002,17280000,6.0,150000000,8.41,20,0,1786980,281820.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TEST_00003,14400000,5.0,66000000,13.72,30,1,669024,281724.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TEST_00004,27600000,5.0,55200000,30.50,12,0,1250052,614844.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64192,TEST_64192,30000000,3.0,78000000,22.08,27,2,1307532,763380.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64193,TEST_64193,30000000,10.0,109200000,12.06,26,0,960612,1245252.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64194,TEST_64194,6120000,10.0,39600000,28.80,33,0,131520,80880.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64195,TEST_64195,11520000,10.0,66000000,25.44,41,1,1339536,601872.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64196,TEST_64196,6000000,9.0,180000000,9.07,10,0,308880,48960.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
tdf_encoded['근로기간'].value_counts()

근로기간
10.0    21553
2.0      5633
0.9      5402
3.0      5275
5.0      4781
1.0      4274
4.0      4194
6.0      3558
8.0      3537
7.0      3429
9.0      2561
Name: count, dtype: int64

In [19]:
tdf_encoded.drop(columns=['ID'], inplace= True)
tdf_encoded

,대출금액,근로기간,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,...,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가,대출기간_36,대출기간_60
0,16800000,8.0,132000000,19.64,12,0,394692,146604.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,8400000,5.0,89971200,15.84,25,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17280000,6.0,150000000,8.41,20,0,1786980,281820.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,14400000,5.0,66000000,13.72,30,1,669024,281724.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27600000,5.0,55200000,30.50,12,0,1250052,614844.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64192,30000000,3.0,78000000,22.08,27,2,1307532,763380.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64193,30000000,10.0,109200000,12.06,26,0,960612,1245252.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64194,6120000,10.0,39600000,28.80,33,0,131520,80880.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64195,11520000,10.0,66000000,25.44,41,1,1339536,601872.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64196,6000000,9.0,180000000,9.07,10,0,308880,48960.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
test_2 = rfc.predict(tdf_encoded)

In [20]:
test_3 = lgbm.predict(tdf_encoded)

In [18]:
# 숫자를 알파벳 등급으로 변환하는 함수
def map_to_grade(number):
    reverse_grade_mapping = {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G'}
    return reverse_grade_mapping[number]

# 숫자로 예측된 등급을 알파벳 등급으로 변환
predicted_grades = [map_to_grade(prediction) for prediction in test_2]

# 예측된 등급과 ID를 포함한 DataFrame 생성
result_df = pd.DataFrame({'ID': test_df['ID'], '대출등급': predicted_grades})

# CSV 파일로 저장
result_df.to_csv('sub_2.csv', index=False)

In [22]:
# 3rd file
# 숫자를 알파벳 등급으로 변환하는 함수
def map_to_grade(number):
    reverse_grade_mapping = {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G'}
    return reverse_grade_mapping[number]

# 숫자로 예측된 등급을 알파벳 등급으로 변환
predicted_grades = [map_to_grade(prediction) for prediction in test_3]

# 예측된 등급과 ID를 포함한 DataFrame 생성
result_df = pd.DataFrame({'ID': test_df['ID'], '대출등급': predicted_grades})

# CSV 파일로 저장
result_df.to_csv('sub_3.csv', index=False)

## 4th Trial

In [31]:
# 규칙에 따라 문자열 수정
df['근로기간'] = df['근로기간'].str.replace(' years', '')  # years 삭제
df['근로기간'] = df['근로기간'].str.replace('+years', '')
df['근로기간'] = df['근로기간'].str.replace('10+years', '10')
df['근로기간'] = df['근로기간'].str.replace('10+', '10')
df['근로기간'] = df['근로기간'].str.replace(' year', '')   # year 삭제
df['근로기간'] = df['근로기간'].str.replace('< 1', '0.9')
df['근로기간'] = df['근로기간'].str.replace('<1', '0.9')

# 결과 확인
df['근로기간'].value_counts()

oh = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_data = oh.fit_transform(df[['주택소유상태', '대출목적', '대출기간']])
# 새로운 데이터프레임에 인코딩된 데이터 추가
df_encoded = pd.concat([df, pd.DataFrame(encoded_data, columns=oh.get_feature_names_out(['주택소유상태', '대출목적', '대출기간']))], axis=1)
df_encoded.drop(columns=['대출목적', '주택소유상태', '대출기간'], inplace= True)

# 대출등급 label encoding해보기
# from sklearn.preprocessing import LabelEncoder
# LabelEncoder 객체 생성
# le = LabelEncoder()

# '대출등급' 컬럼을 label encoding
# df_encoded['대출등급_encoded'] = le.fit_transform(df_encoded['대출등급'])

# '대출등급' 컬럼 삭제
df_encoded = df_encoded.drop('대출등급', axis=1)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
# Unknown 항목을 예측하기 위해 데이터프레임을 훈련 데이터와 테스트 데이터로 나눔
train_data = df_encoded[df_encoded['근로기간'] != 'Unknown']
test_data = df_encoded[df_encoded['근로기간'] == 'Unknown']

# 훈련 데이터에서 근로기간 컬럼을 제외한 나머지 컬럼들을 X로, 근로기간을 y로 설정
X_train = train_data.drop(columns=['ID', '근로기간'], axis=1)
y_train = train_data['근로기간'].astype(float)

# Random Forest 모델 훈련
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)

# 테스트 데이터에서 근로기간을 예측
X_test = test_data.drop(columns=['ID','근로기간'], axis=1)
predicted_values = rfr.predict(X_test)

# 예측값을 소수 첫째자리에서 반올림하여 정수로 변환
predicted_values = predicted_values.round(0).astype(int)

# 예측값을 데이터프레임에 채워 넣음
df_encoded.loc[df['근로기간'] == 'Unknown', '근로기간'] = predicted_values

# 이제 다시 돌려보기
# df_encoded = df_encoded.drop('대출등급_encoded', axis=1)
df_encoded = pd.concat([df_encoded, df['대출등급']], axis=1)
df_encoded['근로기간'] = df_encoded['근로기간'].astype(float)

# 대출등급을 숫자로 매핑하는 사전(dictionary) 생성
grade_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}

# 대출등급 컬럼 변환
df_encoded['대출등급'] = df_encoded['대출등급'].map(grade_mapping)

train = df_encoded.drop(['ID','대출등급'], axis=1)
target = df_encoded['대출등급']

C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train, target, test_size=0.3, random_state=42)

In [33]:
from sklearn.metrics import f1_score
def evaluate_f1(y_test, y_predict):
    F1 = f1_score(y_test, y_predict, average='weighted')
    print(f'F1: {F1:.3F}')

In [30]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               96294 non-null  object
 1   대출금액             96294 non-null  int64
 2   근로기간             96294 non-null  object
 3   연간소득             96294 non-null  int64
 4   부채_대비_소득_비율      96294 non-null  float64
 5   총계좌수             96294 non-null  int64
 6   최근_2년간_연체_횟수     96294 non-null  int64
 7   총상환원금            96294 non-null  int64
 8   총상환이자            96294 non-null  float64
 9   총연체금액            96294 non-null  float64
 10  연체계좌수            96294 non-null  float64
 11  주택소유상태_ANY       96294 non-null  float64
 12  주택소유상태_MORTGAGE  96294 non-null  float64
 13  주택소유상태_OWN       96294 non-null  float64
 14  주택소유상태_RENT      96294 non-null  float64
 15  대출목적_기타          96294 non-null  float64
 16  대출목적_부채 통합       96294 non-null  float64
 17  대출목적_소규모 사업      96294 non-null  float64
 18  대출목적_신용 카드       96294 non-null  float64
 19  대출목적_의료          96294 non-null  float64
 20  대출목적_이사          96294 non-null  float64
 21  대출목적_자동차         96294 non-null  float64
 22  대출목적_재생 에너지      96294 non-null  float64
 23  대출목적_주요 구매       96294 non-null  float64
 24  대출목적_주택          96294 non-null  float64
 25  대출목적_주택 개선       96294 non-null  float64
 26  대출목적_휴가          96294 non-null  float64
 27  대출기간_ 36 months  96294 non-null  float64
 28  대출기간_ 60 months  96294 non-null  float64
 29  대출등급             96294 non-null  int64
dtypes: float64(22), int64(6), object(2)
memory usage: 22.0+ MB

In [ ]:
df_encoded['근로기간'] = tdf_encoded['근로기간'].astype(float)

In [41]:
from xgboost import XGBClassifier
# XGBoost 모델 정의
xgb = XGBClassifier()
# 모델 학습
xgb.fit(x_train, y_train)

# 학습 데이터와 테스트 데이터의 클래스 값 확인
unique_classes_train = np.unique(y_train)
unique_classes_test = np.unique(y_test)

# 클래스 값 조정
if not np.array_equal(unique_classes_train, unique_classes_test):
    # 테스트 데이터의 클래스 값이 학습 데이터와 다르다면, 학습 데이터의 클래스 값으로 조정
    y_test = np.intersect1d(y_test, unique_classes_train)

y_predict = xgb.predict(x_test)
evaluate_f1(y_test, y_predict)

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [0 1 2 3 4 5 6], got [1 2 3 4 5 6 7]

In [38]:
from sklearn.neural_network import MLPClassifier
# MLPClassifier 모델 훈련
mlp = MLPClassifier()
mlp.fit(x_train, y_train)
y_predict = mlp.predict(x_test)
evaluate_f1(y_test, y_predict)

F1: 0.382

In [40]:
from sklearn.tree import DecisionTreeClassifier
# DecisionTreeClassifier 모델 훈련
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
y_predict = dt.predict(x_test)
evaluate_f1(y_test, y_predict)

F1: 0.822

In [42]:
lgbm = LGBMClassifier()
lgbm.fit(x_train, y_train)
y_predict = lgbm.predict(x_test)
evaluate_f1(y_test, y_predict)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001141 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1468
[LightGBM] [Info] Number of data points in the train set: 67405, number of used features: 27
[LightGBM] [Info] Start training from score -1.738476
[LightGBM] [Info] Start training from score -1.206969
[LightGBM] [Info] Start training from score -1.251184
[LightGBM] [Info] Start training from score -1.981565
[LightGBM] [Info] Start training from score -2.565142
[LightGBM] [Info] Start training from score -3.918796
[LightGBM] [Info] Start training from score -5.445151
F1: 0.840

In [45]:
from sklearn.linear_model import LogisticRegression
# 로지스틱 회귀 모델 정의
lr = LogisticRegression(max_iter=10000)

# 모델 학습
lr.fit(x_train, y_train)

# 예측
y_predict = lr.predict(x_test)

In [46]:
evaluate_f1(y_test, y_predict)

F1: 0.545

## 정리 코드

In [ ]:
# 정규표현식을 사용하여 "months"를 제외하고 숫자만 추출
df['대출기간'] = df['대출기간'].str.extract('(\d+)').astype(int)
oh = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_data = oh.fit_transform(df[['주택소유상태', '대출목적', '대출기간']])
# 새로운 데이터프레임에 인코딩된 데이터 추가
df_encoded = pd.concat([df, pd.DataFrame(encoded_data, columns=oh.get_feature_names_out(['주택소유상태', '대출목적', '대출기간']))], axis=1)
df_encoded.drop(columns=['대출목적', '주택소유상태', '대출기간', '근로기간'], inplace= True)
# 대출등급을 숫자로 매핑하는 사전(dictionary) 생성
grade_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}

# 대출등급 컬럼 변환
df_encoded['대출등급'] = df_encoded['대출등급'].map(grade_mapping)

train = df_encoded.drop(['ID','대출등급'], axis=1)
target = df_encoded['대출등급']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train, target, test_size=0.3, random_state=42)

In [ ]:
from sklearn.metrics import f1_score
def evaluate_f1(y_test, y_predict):
    F1 = f1_score(y_test, y_predict, average='weighted')
    print(f'F1: {F1:.3F}')